:root {
    /* color */
    --discord-blue : #5868f2;
    --font-white : #fff;
    --font-black : #4f545c;
    --container-size : 1160px;
}

main {
    display: block;
}
header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0.5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
}
.pc-view-header {
    display: flex;
    white-space: nowrap;
    position: relative;
    justify-content: space-between;

}
.feedback {
    color: var(--discord-blue);
    width: auto;
    border: 0;
    padding: 0 10px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    
    
}
.lang {
    color: var(--discord-blue);
    width: auto;
    border: 0;
    padding: 0 10px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    align-items: center;
    
}
.lang::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid var(--discord-blue);
    border-right: 1px solid var(--discord-blue);
    transform: rotate(135deg) translate(-20%,-140%);
    display: inline-block;
    position: absolute;
    
    

}
.inquiry {
    color: var(--discord-blue);
    width: auto;
    border: 0;
    padding: 0 10px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 10px;
}
.login{
    color: var(--discord-blue);
    border: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.ham > a:hover {
    text-decoration: underline;
}
.login:hover {
    text-decoration: underline;
}
#intro {
    text-align: center;
}


hr {
    box-sizing: border-box;
    height: 0;
    overflow: visible;
}
.support-center {
    background-image: url(img/center.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

h5 {
    font-size: 36px;
    line-height: 44px;
    color: var(--font-white);
    font-weight: 700;
    margin: 0 0 20px;
    padding: 110px 0 0 0;
    text-align: center;
    box-sizing: border-box;
    display: block;

}

.serch-bar{

    max-width: 600px;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

input {
    border: 1px solid #666;
    border-radius: 30px;
    box-sizing: border-box;
    color: #666;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;
    outline: none;
}

.serch-bar > svg {
    position: absolute;
    margin-left: 15px;
   
}

#intro > p {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-black);
    margin-top: 20px;
    margin-bottom: 75px;
    box-sizing: border-box;
    display: block;
    line-height: 1.5;
}
#intro > h1 {

        margin-top: 104px;
        font-size: 26px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 0;
        color: var(--font-black);
}

.suppoter-discord {
    color: var(--discord-blue);
    text-decoration: none;
}

.suppoter-discord:hover {
    text-decoration: underline;
}
li {
    padding: 5px;
    width: 240px;
    height: 240px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;

}

li > h2 {
    color: var(--discord-blue);
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #687272;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: -10px auto 0;
    width: 200px;
    margin-top: 10px;
    line-height: 20px;
    
}

li > hr {
    height: 1px;
    border: none;
    background-color: #99aab5;
    opacity: 0.5;
    width: 50px;
    

}

.category-grid {
    margin: 0 auto;
    max-width: var(--container-size);    
}

ul>a:hover {
    transform: translateY(-5px);
}

.menu1 {
    align-items: center;
    margin: 0 auto;

}

figure > img {
    width: 106px;
}

ul {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

ul>a {
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0px 9px 30px rgba(200, 200, 200, 0.30);
}

.help {
    margin-top: 42px;
    margin-bottom: 30px;
    font-size: 22px;
    color: var(--font-black);
    font-weight: 400;
}

.help > h2 {
    display: block;
    text-align: center;

}
.game {
    background-color: #f2f2f2;
}

.Twitter {
    background-color: #f2f2f2;
}

footer {
    background: #23272a;
    background-size: 235px 185px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    width: 100%;
}

.Details {
    border: 0px solid black;
    border-radius: 30px;
    background: #3ba55c;
    color: var(--font-white);
    display: block;
    width: 250px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    margin: 50px auto;

}

.hook>a {
    text-decoration: none;
}

button:hover {
    box-shadow: 0px 9px 20px rgba(0, 0, 0,0.4);
}

.app {
    
    background-image: url(img/Multiple_dewices.png);
    background-size: 814px 145px;
    width: 814px;
    height: 145px;
    position: relative;
    margin: 0 auto;
}

.app > a {
    opacity: 50%;
}

.app > a:hover {
    opacity: 100%;
}

.app > a > .browsers {
    margin-top:  60px;
    margin-left: 84px;
}

.app > a > .Android {
    margin-left: 115px;
    margin-top: 10px;
}
.app > a > .ios {
    margin-left: 49px;
}

.app > a > .Windows {
    margin-left: 105px;
}

hr {
    opacity: 0.1;
    width: 1160px;
}